:root {
    --vp-c-brand-1: #007d9c;
    --vp-c-brand-2: #00A0C6;
    --vp-c-brand-3: #005F75;
}

.VPImage.image-src {
    max-height: 250px;
}

/* Navbar Logo Size Limit */
.VPNavBarTitle .logo {
    height: 40px;
    width: auto;
}

/* Theme Switcher: Active state background */
.VPSwitchAppearance .check {
    background-color: #007d9c !important;
}

/* Theme Switcher: Border and Icons */
.VPSwitch {
    border-color: #007d9c !important;
}

.VPSwitch .icon[data-v-70a26bb8] [class^='vpi-'] {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    color: #ffffff !important;
}

/* Visual Anchor Blocks (TIPs) */
.custom-block.tip {
    background-color: #007d9c;
    border-color: #007d9c;
    color: white;
}

.custom-block.tip .custom-block-title {
    color: white;
}

.custom-block.tip a {
    color: white;
    text-decoration: underline;
}