:root {
    --vp-c-brand-1: #007d9c;
    --vp-c-brand-2: #00A0C6;
    --vp-c-brand-3: #005F75;
}

.VPImage.image-src {
    max-height: 250px;
}

/* Theme Switcher: Active state background */
.VPSwitchAppearance .check {
    background-color: #007d9c !important;
}

/* Visual Anchor Blocks (TIPs) */
.custom-block.tip {
    background-color: #007d9c;
    border-color: #007d9c;
    color: white;
}

.custom-block.tip .custom-block-title {
    color: white;
}

.custom-block.tip a {
    color: white;
    text-decoration: underline;
}